@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Choose a renting object</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a asp-area= "Cars" asp-controller="Home" asp-action="Index" class="btn btn-primary">Cars</a>
    <a asp-area= "" asp-controller="" asp-action="" class="btn btn-danger">Apartments</a>
    <a asp-area= "" asp-controller="" asp-action="" class="btn btn-danger">Offices</a>
    <a asp-area= "" asp-controller="" asp-action="" class="btn btn-danger">Houses</a> 
    <a asp-area= "" asp-controller="" asp-action="" class="btn btn-danger">Big wheels</a> 
</div>
